*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 30;
    padding: 0;
    scroll-padding-top: 32px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}
img{
    width: 100%;
}
body{
    color: black;
}
.main{
    overflow-x: hidden;
}
section{
    padding: 64px 48px;
}
.navcont{
    max-width: 1370px;
    width: 100%;
    margin: auto;
}
header{
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100; /*para sa order list sa navbar daw kuno -google*/
}
.logo img{
    width: 41px;
}
.navcont{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
#menu{
    font-size: 24px;
    display: none;
}
.navbar{
    display: flex;
    column-gap: 45px;
}
.navbar a{
    font-size: 16px;
    font-weight: 500;
    background: linear-gradient(black, white);
    color: transparent;
    -webkit-background-clip: text;
    background-color: text;
}
.navbar a:hover{
    color: black;
}
.homecont{
    min-height: 640px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 32px;
}
@media (max-width: 648px){
    .homecont{
        grid-template-columns: 1fr;
        min-height: 540px;
    }
    .homeimg{
        padding-top: 32px;
    }
}