*{
    font-family: 'Times New Roman', Times, serif;
    margin: 30;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}
body{
    color: black;
}
img{
    width: 100%;
}
section{
    padding: 64px 48px;
}
header{
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
.logo img{
    width: 41px;
}
.nav-container{
    max-width: 1370px;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.navbar{
    display: flex;
    column-gap: 45px;
}
.navbar a{
    font-size: 18px;
    font-weight: 500;
    color: black;
}
.navbar a:hover{
    box-shadow: 0 5px 5px grey;
}
.home-container{
    margin-top: 50px;
    min-height: 640px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
}
@media (max-width: 648px){
    .home-container{
        grid-template-columns: 1fr;
        min-height: 540px;
    }
    .home-img{
        padding-top: 32px;
    }
}